body{
   
    color: white;
    font-family: sans-serif;
    background: linear-gradient(to right ,#0f0c29 , #302b63 ,#24243e);
}

form{
    width: 400px;
    height: 500px;
    border: 1px solid #00baff;
    border-radius: 20px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to right ,#0f0c29 , #302b63 ,#24243e);
}
h2{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    
}
input[type="text"]{
    font-weight: bold;
    color: white;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 45px;
    border: 1px solid #00baff;
    border-radius: 10px;
    outline: none;
    text-align: center;
    padding: auto;
    background: linear-gradient(to right ,#0f0c29 , #302b63 ,#24243e);
    
}

.u{
    background: linear-gradient(to right ,#0f0c29 , #302b63 ,#24243e);
    margin: 10px;
    width: 100px;
    height: 30px;
    margin-left: 150px;
    border: 1px solid #00baff;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    outline: none;
    cursor: pointer;
}
